body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    height: 100vh;
    font-size: 18px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    align-content: center;
    height: 100%;
}

input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 28em;
    height: 1.5em;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
