body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
